In [30]:
import pandas as pd

from pmdarima import auto_arima
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima.model import ARIMA,ARIMAResults
from sklearn.metrics import mean_squared_error,mean_absolute_percentage_error
from statsmodels.tools.eval_measures import rmse

In [31]:
data = pd.read_csv('df_treated.csv')
data.head()

         DATE      TIME  TREATED WATER PRODUCTION IN m3/h     REMARKS
0  2021-12-01  01:00:00                           3397.39  No Remarks
1  2021-12-01  02:00:00                           3378.46  No Remarks
2  2021-12-01  03:00:00                           3392.56  No Remarks
3  2021-12-01  04:00:00                           3402.36  No Remarks
4  2021-12-01  05:00:00                           3394.38  No Remarks

In [32]:
data.shape

(21169, 4)

In [33]:
data.isna().sum()

DATE                                0
TIME                                0
TREATED WATER PRODUCTION IN m3/h    0
REMARKS                             0
dtype: int64

In [34]:
data['DATETIME'] = data['DATE']+' '+ data['TIME']
data.head()

,DATE,TIME,TREATED WATER PRODUCTION IN m3/h,REMARKS,DATETIME
0,2021-12-01,01:00:00,3397.39,No Remarks,2021-12-01 01:00:00
1,2021-12-01,02:00:00,3378.46,No Remarks,2021-12-01 02:00:00
2,2021-12-01,03:00:00,3392.56,No Remarks,2021-12-01 03:00:00
3,2021-12-01,04:00:00,3402.36,No Remarks,2021-12-01 04:00:00
4,2021-12-01,05:00:00,3394.38,No Remarks,2021-12-01 05:00:00

In [35]:
data = data[['DATETIME','TREATED WATER PRODUCTION IN m3/h','REMARKS']]
data.head()

              DATETIME  TREATED WATER PRODUCTION IN m3/h     REMARKS
0  2021-12-01 01:00:00                           3397.39  No Remarks
1  2021-12-01 02:00:00                           3378.46  No Remarks
2  2021-12-01 03:00:00                           3392.56  No Remarks
3  2021-12-01 04:00:00                           3402.36  No Remarks
4  2021-12-01 05:00:00                           3394.38  No Remarks

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21169 entries, 0 to 21168
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   DATETIME                          21169 non-null  object
 1   TREATED WATER PRODUCTION IN m3/h  21169 non-null  float64
 2   REMARKS                           21169 non-null  object
dtypes: float64(1), object(2)
memory usage: 496.3+ KB

In [37]:
data['DATETIME'] = pd.to_datetime(data['DATETIME'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21169 entries, 0 to 21168
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   DATETIME                          21169 non-null  datetime64[ns]
 1   TREATED WATER PRODUCTION IN m3/h  21169 non-null  float64
 2   REMARKS                           21169 non-null  object
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 496.3+ KB

In [38]:
data.set_index('DATETIME',inplace=True)
data.head()

                     TREATED WATER PRODUCTION IN m3/h     REMARKS
DATETIME
2021-12-01 01:00:00                           3397.39  No Remarks
2021-12-01 02:00:00                           3378.46  No Remarks
2021-12-01 03:00:00                           3392.56  No Remarks
2021-12-01 04:00:00                           3402.36  No Remarks
2021-12-01 05:00:00                           3394.38  No Remarks

In [39]:
data_monthly = data.resample('M')['TREATED WATER PRODUCTION IN m3/h'].mean()
data_monthly = data_monthly.reset_index()
data_monthly = data_monthly.set_index('DATETIME')
data_monthly.head()

            TREATED WATER PRODUCTION IN m3/h
DATETIME
2021-12-31                       2599.089059
2022-01-31                       2508.315081
2022-02-28                       2687.047493
2022-03-31                       2817.087461
2022-04-30                       2657.191611

In [40]:
data_monthly[data_monthly['TREATED WATER PRODUCTION IN m3/h']==0.0]

Empty DataFrame
Columns: [TREATED WATER PRODUCTION IN m3/h]
Index: []

In [41]:
data_monthly.shape

(29, 1)

In [47]:
class TSA:
    def __init__(self,df):
        self.df = df
        
    def adf_test(self,valcol):
        """
        Pass in a time series and an optional title, returns an ADF report
        """
        result = adfuller(self.df[valcol].dropna(),autolag='AIC') # .dropna() handles differenced data
    
        labels = ['ADF test statistic','p-value','# lags used','# observations']
        out = pd.Series(result[0:4],index=labels)

        for key,val in result[4].items():
            out[f'critical value ({key})']=val
        
        print(out.to_string())          # .to_string() removes the line "dtype: float64"
    
        if result[1] <= 0.05:
            print("Strong evidence against the null hypothesis")
            print("Reject the null hypothesis")
            print("Data has no unit root and is stationary")
            state = "Stationary"
        else:
            print("Weak evidence against the null hypothesis")
            print("Fail to reject the null hypothesis")
            print("Data has a unit root and is non-stationary")
            state = "Non-stationary"
        if state == "Stationary":
            return "Yes"
        else:
            return "No"
    def determine_ARIMA_order(self,valcol):
        stepwise_fit = auto_arima(self.df[valcol], start_p=0, start_q=0,
                          error_action='ignore',   # we don't want to know if an order does not work
                          suppress_warnings=True,  # we don't want convergence warnings
                          stepwise=True)           # set to stepwise
        best_order = stepwise_fit.get_params().get('order')
        print('The best order is {}'.format(best_order))
        return best_order
    def fit_model(self,valcol):
#         if len(self.df[valcol]) > 70:
        train = self.df[valcol][:len(self.df[valcol])-8]
        test = self.df[valcol][len(self.df[valcol])-8:len(self.df[valcol])-4]
        val = self.df[valcol][len(self.df[valcol])-4:]
#         else:
#             train = self.df[valcol][:len(self.df[valcol])-8]
#             test = self.df[valcol][len(self.df[valcol])-8:len(self.df[valcol])-4]
#             val = self.df[valcol][len(self.df[valcol])-4:]
        start = len(train)
        end = len(train)+len(test)-1
#             print('train : {}'.format(train))
#             print('test : {}'.format(test))
        print('start : {}'.format(start))
        print('end : {}'.format(end))
        results = ARIMA(train,order=c1.determine_ARIMA_order(valcol)).fit()
        predictions = results.predict(start=start, end=end)
        predictions_val = results.predict(start=end+1, end=len(train)+len(test)+len(val)-1)
        error1 = mean_squared_error(test, predictions)
        error2 = rmse(test, predictions)
        error3 = mean_absolute_percentage_error(test,predictions)
        accuracy = (1-error3)*100
        print(f'MSE Error: {error1:11.10}')
        print(f'RMSE Error: {error2:11.10}')
        print(f'MAPE Error: {error3:11.10}')
        print(f'Accuracy: {accuracy:11.10}')
#         return start, len(test)
        model_results = {"Model":"ARIMA","Stationary": c1.adf_test(valcol),"X_train": str(len(train))+" Weeks", "X_test": str(len(test))+" Weeks", "X_validation": str(len(val))+" Weeks", "ARIMA_order": c1.determine_ARIMA_order(valcol), "MSE": error1,"RMSE": error2,"MAPE":error3, "Accuracy":((1-error3)*100).round(0)}
#         with open('TSA_AQI_model_result_new.json','a') as f:
#             f.write(str(model_results)+',')
#             f.close()
        return predictions_val
        
            
    def full_data_model(self,valcol):
        results = ARIMA(self.df[valcol],order=c1.determine_ARIMA_order(valcol)).fit()
#         if len(self.df[valcol]) > 70:
        fcast = results.predict(len(self.df), len(self.df)+3,typ='levels').round(2)
#         else:
#             fcast = results.predict(len(self.df), len(self.df)+3,typ='levels').round(2)
#         ax = self.df[valcol].plot(legend=True,figsize=(12,6))
#         fcast.plot(legend=True)
        print(fcast)
#         error_rmse = rmse(self.df[valcol],fcast[0:len(self.df)])
#         error_mse = mean_squared_error(self.df[valcol],fcast[0:len(self.df)])
        DF = pd.DataFrame(self.df[valcol])
        DF['Type'] = 'Actual'
#         DF = DF.reset_index()
        DF_fcast = pd.DataFrame(fcast)
        DF_fcast['Type'] = 'Predicted'
        DF_fcast = DF_fcast.rename(columns={'predicted_mean':valcol})
        final_DF = pd.concat([DF,DF_fcast])
        final_DF = final_DF.reset_index()
#         DF_fcast = DF_fcast.rename(columns={'predicted_mean':'Predicted', 'index':'DateTime'})
        DF_val = pd.DataFrame(c1.fit_model(valcol))
        DF_val = DF_val.reset_index()
        DF_val = DF_val.rename(columns={'index':'Date','predicted_mean':'Validation'})
        final_DF = final_DF.rename(columns={'index':'Date'})
        print(DF_val)
        print(final_DF)
#         final_DF =  final_DF.merge(DF_val, on='DateTime',how='outer')
        final_DF =  final_DF.merge(DF_val, on='Date',how='outer')
        final_DF['Date'] = final_DF['Date'].astype('str')
        print(final_DF)
        
#         final_DF.to_json('/Users/syaminiv/Library/CloudStorage/OneDrive-BayesianWaysLLP/Documents/SiAP_ML_Application/Final_Notebooks/June2023/JSON/TSA_withval_Zone_{}.json'.format(item),orient='records')

c1 = TSA(data_monthly)
c1.adf_test("TREATED WATER PRODUCTION IN m3/h")
c1.determine_ARIMA_order("TREATED WATER PRODUCTION IN m3/h")
c1.fit_model("TREATED WATER PRODUCTION IN m3/h")
c1.full_data_model("TREATED WATER PRODUCTION IN m3/h")

ADF test statistic      -1.760138
p-value                  0.400424
# lags used              0.000000
# observations          28.000000
critical value (1%)     -3.688926
critical value (5%)     -2.971989
critical value (10%)    -2.625296
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
Data has a unit root and is non-stationary
The best order is (0, 1, 0)
start : 21
end : 24
The best order is (0, 1, 0)
MSE Error: 20052.56835
RMSE Error: 141.6070914
MAPE Error: 0.02891482663
Accuracy: 97.10851734
ADF test statistic      -1.760138
p-value                  0.400424
# lags used              0.000000
# observations          28.000000
critical value (1%)     -3.688926
critical value (5%)     -2.971989
critical value (10%)    -2.625296
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
Data has a unit root and is non-stationary

/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)

The best order is (0, 1, 0)
The best order is (0, 1, 0)
2024-05-31    3273.55
2024-06-30    3273.55
2024-07-31    3273.55
2024-08-31    3273.55
Freq: M, Name: predicted_mean, dtype: float64
start : 21
end : 24

/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/statespace/representation.py:374: FutureWarning: Unknown keyword arguments: dict_keys(['typ']).Passing unknown keyword arguments will raise a TypeError beginning in version 0.15.
  warnings.warn(msg, FutureWarning)

The best order is (0, 1, 0)
MSE Error: 20052.56835
RMSE Error: 141.6070914
MAPE Error: 0.02891482663
Accuracy: 97.10851734
ADF test statistic      -1.760138
p-value                  0.400424
# lags used              0.000000
# observations          28.000000
critical value (1%)     -3.688926
critical value (5%)     -2.971989
critical value (10%)    -2.625296
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
Data has a unit root and is non-stationary

/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)

The best order is (0, 1, 0)
        Date  Validation
0 2024-01-31  3092.26453
1 2024-02-29  3092.26453
2 2024-03-31  3092.26453
3 2024-04-30  3092.26453
         Date  TREATED WATER PRODUCTION IN m3/h       Type
0  2021-12-31                       2599.089059     Actual
1  2022-01-31                       2508.315081     Actual
2  2022-02-28                       2687.047493     Actual
3  2022-03-31                       2817.087461     Actual
4  2022-04-30                       2657.191611     Actual
5  2022-05-31                       2618.444000     Actual
6  2022-06-30                       2432.922580     Actual
7  2022-07-31                       2077.888991     Actual
8  2022-08-31                       2277.840202     Actual
9  2022-09-30                       2555.902639     Actual
10 2022-10-31                       2860.541089     Actual
11 2022-11-30                       2842.808708     Actual
12 2022-12-31                       2954.207396     Actual
13 2023-01-31                       2939.324530     Actual
14 2023-02-28                       2962.222912     Actual
15 2023-03-31                       3258.983661     Actual
16 2023-04-30                       3258.381528     Actual
17 2023-05-31                       3184.144153     Actual
18 2023-06-30                       3234.166708     Actual
19 2023-07-31                       2690.387970     Actual
20 2023-08-31                       3092.264530     Actual
21 2023-09-30                       3080.340278     Actual
22 2023-10-31                       2810.529772     Actual
23 2023-11-30                       3079.459611     Actual
24 2023-12-31                       3115.278564     Actual
25 2024-01-31                       2933.208575     Actual
26 2024-02-29                       3385.923199     Actual
27 2024-03-31                       3404.612970     Actual
28 2024-04-30                       3273.554292     Actual
29 2024-05-31                       3273.550000  Predicted
30 2024-06-30                       3273.550000  Predicted
31 2024-07-31                       3273.550000  Predicted
32 2024-08-31                       3273.550000  Predicted
          Date  TREATED WATER PRODUCTION IN m3/h       Type  Validation
0   2021-12-31                       2599.089059     Actual         NaN
1   2022-01-31                       2508.315081     Actual         NaN
2   2022-02-28                       2687.047493     Actual         NaN
3   2022-03-31                       2817.087461     Actual         NaN
4   2022-04-30                       2657.191611     Actual         NaN
5   2022-05-31                       2618.444000     Actual         NaN
6   2022-06-30                       2432.922580     Actual         NaN
7   2022-07-31                       2077.888991     Actual         NaN
8   2022-08-31                       2277.840202     Actual         NaN
9   2022-09-30                       2555.902639     Actual         NaN
10  2022-10-31                       2860.541089     Actual         NaN
11  2022-11-30                       2842.808708     Actual         NaN
12  2022-12-31                       2954.207396     Actual         NaN
13  2023-01-31                       2939.324530     Actual         NaN
14  2023-02-28                       2962.222912     Actual         NaN
15  2023-03-31                       3258.983661     Actual         NaN
16  2023-04-30                       3258.381528     Actual         NaN
17  2023-05-31                       3184.144153     Actual         NaN
18  2023-06-30                       3234.166708     Actual         NaN
19  2023-07-31                       2690.387970     Actual         NaN
20  2023-08-31                       3092.264530     Actual         NaN
21  2023-09-30                       3080.340278     Actual         NaN
22  2023-10-31                       2810.529772     Actual         NaN
23  2023-11-30                       3079.459611     Actual         NaN
24  2023-12-31                       3115.278564     Actual         NaN
25  2024-01-31                       2933.208575     Actual  3092.26453
26  2024-02-29                       3385.923199     Actual  3092.26453
27  2024-03-31                       3404.612970     Actual  3092.26453
28  2024-04-30                       3273.554292     Actual  3092.26453
29  2024-05-31                       3273.550000  Predicted         NaN
30  2024-06-30                       3273.550000  Predicted         NaN
31  2024-07-31                       3273.550000  Predicted         NaN
32  2024-08-31                       3273.550000  Predicted         NaN

### TSA class with seasonality

In [46]:
class TSA_seasonal:
    def __init__(self, df):
        self.df = df

    def adf_test(self, valcol):
        """
        Pass in a time series and an optional title, returns an ADF report
        """
        result = adfuller(self.df[valcol].dropna(), autolag='AIC')  # .dropna() handles differenced data

        labels = ['ADF test statistic', 'p-value', '# lags used', '# observations']
        out = pd.Series(result[0:4], index=labels)

        for key, val in result[4].items():
            out[f'critical value ({key})'] = val

        if result[1] <= 0.05:
            state = "Stationary"
        else:
            state = "Non-stationary"
        return state

    def determine_ARIMA_order(self, valcol):
        stepwise_fit = auto_arima(self.df[valcol], seasonal=True, m=5,
                                  start_p=0, start_q=0,
                                  error_action='ignore',  # we don't want to know if an order does not work
                                  suppress_warnings=True,  # we don't want convergence warnings
                                  stepwise=True)  # set to stepwise
        best_order = stepwise_fit.get_params().get('order')
        print('The best order is {}'.format(best_order))
        return best_order

    def fit_model(self, valcol):
        train = self.df[valcol][:len(self.df[valcol]) - 8]
        test = self.df[valcol][len(self.df[valcol]) - 8:len(self.df[valcol]) - 4]
        val = self.df[valcol][len(self.df[valcol]) - 4:]

        results = ARIMA(train, order=self.determine_ARIMA_order(valcol)).fit()
        predictions = results.predict(start=len(train), end=len(train) + len(test) - 1)
        predictions_val = results.predict(start=len(train) + len(test), end=len(train) + len(test) + len(val) - 1)
        error1 = mean_squared_error(test, predictions)
        error2 = rmse(test, predictions)
        error3 = mean_absolute_percentage_error(test,predictions)
        accuracy = (1-error3)*100
        print(f'MSE Error: {error1:11.10}')
        print(f'RMSE Error: {error2:11.10}')
        print(f'MAPE Error: {error3:11.10}')
        print(f'Accuracy: {accuracy:11.10}')
        return predictions_val

    def full_data_model(self, valcol):
        results = ARIMA(self.df[valcol], order=self.determine_ARIMA_order(valcol)).fit()
        fcast = results.forecast(steps=4).round(2)  # Forecast 4 steps ahead
#         print(fcast)
#         fcast_index = pd.date_range(start=self.df.index[-1], periods=4 + 1, freq='M')[1:]  # Assuming monthly data
        DF_fcast = pd.DataFrame({valcol: fcast})
        DF_fcast['Type'] = 'Predicted'
        print(DF_fcast)
        DF = pd.DataFrame(self.df[valcol])
        DF['Type'] = 'Actual'
        # Concatenate original data and forecast data
        combined_DF = pd.concat([DF, DF_fcast])
        combined_DF = combined_DF.reset_index().rename(columns={'index':'Date'})
        print(combined_DF)
        DF_val = pd.DataFrame(c2.fit_model(valcol))
        DF_val = DF_val.reset_index()
        DF_val = DF_val.rename(columns={'index':'Date','predicted_mean':'Validation'})
#         combined_DF = combined_DF.rename(columns={'index':'Date'})
        print(DF_val)
        print(combined_DF)
#         final_DF =  final_DF.merge(DF_val, on='DateTime',how='outer')
        final_DF =  combined_DF.merge(DF_val, on='Date',how='outer')
        final_DF['Date'] = final_DF['Date'].astype('str')
#         print(combined_df)
        return final_DF
    
    
c2 = TSA_seasonal(data_monthly)
c2.adf_test("TREATED WATER PRODUCTION IN m3/h")
c2.determine_ARIMA_order("TREATED WATER PRODUCTION IN m3/h")
c2.fit_model("TREATED WATER PRODUCTION IN m3/h")
c2.full_data_model("TREATED WATER PRODUCTION IN m3/h")

The best order is (0, 1, 0)
The best order is (0, 1, 0)
MSE Error: 20052.56835
RMSE Error: 141.6070914
MAPE Error: 0.02891482663
Accuracy: 97.10851734

/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)

The best order is (0, 1, 0)
            TREATED WATER PRODUCTION IN m3/h       Type
2024-05-31                           3273.55  Predicted
2024-06-30                           3273.55  Predicted
2024-07-31                           3273.55  Predicted
2024-08-31                           3273.55  Predicted
         Date  TREATED WATER PRODUCTION IN m3/h       Type
0  2021-12-31                       2599.089059     Actual
1  2022-01-31                       2508.315081     Actual
2  2022-02-28                       2687.047493     Actual
3  2022-03-31                       2817.087461     Actual
4  2022-04-30                       2657.191611     Actual
5  2022-05-31                       2618.444000     Actual
6  2022-06-30                       2432.922580     Actual
7  2022-07-31                       2077.888991     Actual
8  2022-08-31                       2277.840202     Actual
9  2022-09-30                       2555.902639     Actual
10 2022-10-31                       2860.541089     Actual
11 2022-11-30                       2842.808708     Actual
12 2022-12-31                       2954.207396     Actual
13 2023-01-31                       2939.324530     Actual
14 2023-02-28                       2962.222912     Actual
15 2023-03-31                       3258.983661     Actual
16 2023-04-30                       3258.381528     Actual
17 2023-05-31                       3184.144153     Actual
18 2023-06-30                       3234.166708     Actual
19 2023-07-31                       2690.387970     Actual
20 2023-08-31                       3092.264530     Actual
21 2023-09-30                       3080.340278     Actual
22 2023-10-31                       2810.529772     Actual
23 2023-11-30                       3079.459611     Actual
24 2023-12-31                       3115.278564     Actual
25 2024-01-31                       2933.208575     Actual
26 2024-02-29                       3385.923199     Actual
27 2024-03-31                       3404.612970     Actual
28 2024-04-30                       3273.554292     Actual
29 2024-05-31                       3273.550000  Predicted
30 2024-06-30                       3273.550000  Predicted
31 2024-07-31                       3273.550000  Predicted
32 2024-08-31                       3273.550000  Predicted

/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)

The best order is (0, 1, 0)
MSE Error: 20052.56835
RMSE Error: 141.6070914
MAPE Error: 0.02891482663
Accuracy: 97.10851734
        Date  Validation
0 2024-01-31  3092.26453
1 2024-02-29  3092.26453
2 2024-03-31  3092.26453
3 2024-04-30  3092.26453
         Date  TREATED WATER PRODUCTION IN m3/h       Type
0  2021-12-31                       2599.089059     Actual
1  2022-01-31                       2508.315081     Actual
2  2022-02-28                       2687.047493     Actual
3  2022-03-31                       2817.087461     Actual
4  2022-04-30                       2657.191611     Actual
5  2022-05-31                       2618.444000     Actual
6  2022-06-30                       2432.922580     Actual
7  2022-07-31                       2077.888991     Actual
8  2022-08-31                       2277.840202     Actual
9  2022-09-30                       2555.902639     Actual
10 2022-10-31                       2860.541089     Actual
11 2022-11-30                       2842.808708     Actual
12 2022-12-31                       2954.207396     Actual
13 2023-01-31                       2939.324530     Actual
14 2023-02-28                       2962.222912     Actual
15 2023-03-31                       3258.983661     Actual
16 2023-04-30                       3258.381528     Actual
17 2023-05-31                       3184.144153     Actual
18 2023-06-30                       3234.166708     Actual
19 2023-07-31                       2690.387970     Actual
20 2023-08-31                       3092.264530     Actual
21 2023-09-30                       3080.340278     Actual
22 2023-10-31                       2810.529772     Actual
23 2023-11-30                       3079.459611     Actual
24 2023-12-31                       3115.278564     Actual
25 2024-01-31                       2933.208575     Actual
26 2024-02-29                       3385.923199     Actual
27 2024-03-31                       3404.612970     Actual
28 2024-04-30                       3273.554292     Actual
29 2024-05-31                       3273.550000  Predicted
30 2024-06-30                       3273.550000  Predicted
31 2024-07-31                       3273.550000  Predicted
32 2024-08-31                       3273.550000  Predicted

/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)
/Users/syaminiv/opt/anaconda3/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency M will be used.
  self._init_dates(dates, freq)

          Date  TREATED WATER PRODUCTION IN m3/h       Type  Validation
0   2021-12-31                       2599.089059     Actual         NaN
1   2022-01-31                       2508.315081     Actual         NaN
2   2022-02-28                       2687.047493     Actual         NaN
3   2022-03-31                       2817.087461     Actual         NaN
4   2022-04-30                       2657.191611     Actual         NaN
5   2022-05-31                       2618.444000     Actual         NaN
6   2022-06-30                       2432.922580     Actual         NaN
7   2022-07-31                       2077.888991     Actual         NaN
8   2022-08-31                       2277.840202     Actual         NaN
9   2022-09-30                       2555.902639     Actual         NaN
10  2022-10-31                       2860.541089     Actual         NaN
11  2022-11-30                       2842.808708     Actual         NaN
12  2022-12-31                       2954.207396     Actual         NaN
13  2023-01-31                       2939.324530     Actual         NaN
14  2023-02-28                       2962.222912     Actual         NaN
15  2023-03-31                       3258.983661     Actual         NaN
16  2023-04-30                       3258.381528     Actual         NaN
17  2023-05-31                       3184.144153     Actual         NaN
18  2023-06-30                       3234.166708     Actual         NaN
19  2023-07-31                       2690.387970     Actual         NaN
20  2023-08-31                       3092.264530     Actual         NaN
21  2023-09-30                       3080.340278     Actual         NaN
22  2023-10-31                       2810.529772     Actual         NaN
23  2023-11-30                       3079.459611     Actual         NaN
24  2023-12-31                       3115.278564     Actual         NaN
25  2024-01-31                       2933.208575     Actual  3092.26453
26  2024-02-29                       3385.923199     Actual  3092.26453
27  2024-03-31                       3404.612970     Actual  3092.26453
28  2024-04-30                       3273.554292     Actual  3092.26453
29  2024-05-31                       3273.550000  Predicted         NaN
30  2024-06-30                       3273.550000  Predicted         NaN
31  2024-07-31                       3273.550000  Predicted         NaN
32  2024-08-31                       3273.550000  Predicted         NaN